* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "VT323", monospace;
}
nav {
  font-size: 1.3rem;
  padding: 2rem;
  margin-bottom: 6rem;
}
#mlink {
  text-decoration-color: #001bff;
  color: black;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.scores {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(31, 15px);
  grid-template-rows: repeat(31, 15px);
}

.border-1 {
  border: 10px solid rgb(194, 194, 194);
}
.snake {
  background-color: rgb(28, 27, 27);
  width: 15px;
  height: 15px;
  border: #999 1px dotted;
}
.food {
  background-color: #001bff;
  border: 1px dotted rgb(194, 194, 194);
  width: 15px;
  height: 15px;
}
.instruction {
  position: absolute;
  padding: 10px 14px;
  text-transform: capitalize;
  animation: blinker 2s linear infinite;
  font-size: 1.2rem;
}
#instruction {
  text-transform: capitalize;
  animation: blinker 2s linear infinite;
  font-size: 1.2rem;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.name {
  padding: 20px;
  outline: none;
  background-color: transparent;
  text-align: center;
  font-size: 2rem;
  font-family: "VT323", monospace;
  letter-spacing: 10px;
  border: none;
  color: #001bff;
}
.submitScore {
  padding: 1.2rem;
  background-color: black;
  color: white;
  font-size: 1.2rem;
  font-family: "VT323", monospace;
  letter-spacing: 10px;
  cursor: pointer;
  border: 1px solid black;
}
.submitScore:hover {
  background-color: #001bff;
}
.gameover {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30%;
}

.leader-bg {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5rem;
  align-items: center;
}
.leader {
  border: 1px solid black;
  padding: 2rem;
  font-size: 1.5rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  height: 50%;
  margin: 2rem 0;
  overflow-y: scroll;
}
.indv-score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.return {
  padding: 1.2rem;
  background-color: white;
  color: black;
  border: 1px solid black;
  font-size: 1.3rem;
  font-family: "VT323", monospace;
  letter-spacing: 6px;
  text-transform: uppercase;
  cursor: pointer;
}
.return:hover {
  background-color: black;
  color: white;
}

@media screen and (max-width: 600px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(21, 11px);
    grid-template-rows: repeat(21, 11px);
  }
}
